.card {
  min-width: min-content;
  height: max-content;
  padding: 0 0 2rem 0;
}

.card-image img {
  width: 100%;
  border-radius: 5px;
}

.card-body {
  margin-top: 20px;
}

.card-title {
  color: var(--main-color);
  font-size: 1.3rem;
  text-transform: capitalize;
  letter-spacing: 0.4px;
}

.card-subtitle {
  color: var(--main-color);
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  opacity: 0.9;
}

.card-text {
  color: var(--black-color);
  font-size: 1rem;
  letter-spacing: 0.4px;
  opacity: 0.7;
  margin: 10px 0 20px;
}

@media (max-width: 768px) {
  .card-text {
    font-size: 0.9rem;
  }
}
